{% load widget_tweaks %}

<div class="modal-header">
  <h5 class="modal-title">Item list</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <table class="table table-striped table-bordered">
    <thead class="table-info">
        <th colspan="6">{{ customer_info.first_name }} {% if customer_info.middle_initial %}{{ customer_info.middle_initial }}. {% endif %}{{ customer_info.last_name }}-{{ final_order.trans_id }}</th>
    </thead>
    <thead>
      <th>#</th>
      <th>Product ID</th>
      <th>Price / unit</th>
      <th>Delivery price per unit</th>
      <th>Qnty</th>
      <th>Total Price</th>
    </thead>
    <tbody>
    {% for initial_order in final_order.orders.all %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ initial_order.product }}</td>
          <td>₱{{ initial_order.product.t_price }}</td>
          <td>₱{{ initial_order.product.delivery_price }}</td>
          <td>{{ initial_order.quantity }}</td>
          <td>₱{{ initial_order.total_price }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="text-right" colspan="5">Grand Total</td>
      <td colspan="1">₱{{ final_order.overall_price }}</td>
    </tr>
  </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
</div>
            
