{% extends "admin_base.html" %}
{% load static %}
{% block content %}
{% include "modal.html" %}
<div class="content animated bounceInLeft">
  {% include "alert.html" %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Transactions</h4>
        </div>
        <div class="card-body border">
          <div class="overflow-auto">
            <div class="container-fluid table-responsive">
              <div class="row flex-row flex-nowrap">
                <table class="table table-striped table-bordered" id="transaction-table">
                  <thead class="text-primary">
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Paid</th>
                    <th class="no-sort">Items</th>
                    <th>Payment Method</th>
                    <th>Date Ordered</th>
                    <th>Delivery Date</th>
                    <th>Delivered Date</th>
                    <th>Done</th>
                  </thead>
                  <tbody>
                    {% for transaction in transactions %}
                    <tr {% if transaction.delivered_date %}class="table-info"
                      {% elif transaction.delivery_date and not transaction.delivered_date %}class="table-warning"
                      {% endif %}>
                      <td>{{ forloop.counter }}</td>
                      <td id="trans_id{(transaction.id}}">{{ transaction.final_order.trans_id }}</td>
                      <td>
                        {% for customer_info in customer_infos %}
                        {% if customer_info.final_order == transaction.final_order %}
                        {{ customer_info.first_name }}
                        {% if customer_info.middle_initial %}{{ customer_info.middle_initial }}.{% endif %}
                        {{ customer_info.last_name }}
                        {% endif %}
                        {% endfor %}
                      </td>
                      <td id="paid{{transaction.id}}" class="text-center">
                        {% for customer_info in customer_infos %}
                        {% if customer_info.final_order.trans_id == transaction.final_order.trans_id %}
                        {% if customer_info.payment_method == 1 %}
                        {% if transaction.paid %}
                        <i class="fas fa-check"></i>
                        {% else %}
                        {% if transaction.delivery_date %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_cash_on_delivery_update' transaction.pk %}">Update</a>
                        {% endif %}
                        {% endif %}
                        {% elif customer_info.payment_method == 2 and transaction.paid %}
                        <i class="fas fa-check"></i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </td>
                      <td id="items{{transaction.id}}" class="text-center">
                        <button class="action btn btn-primary btn-sm"
                          data-id="{% url 'admin_final_order_detail' transaction.final_order.pk %}"><i
                            class="fas fa-eye"></i></button>
                      </td>
                      <td>
                        {% for customer_info in customer_infos %}
                        {% if customer_info.final_order.trans_id == transaction.final_order.trans_id %}
                        {% if customer_info.payment_method == 1 %}
                        COD
                        {% else %}
                        PayPal
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </td>
                      <td id="date_ordered{{transaction.id}}">
                        {% for customer_info in customer_infos %}
                        {% if customer_info.final_order == transaction.final_order %}
                        {{ customer_info.date_ordered }}
                        {% endif %}
                        {% endfor %}
                      </td>
                      <td id="delivery_date{{transaction.id}}">
                        {% for customer_info in customer_infos %}
                        {% if customer_info.final_order.trans_id == transaction.final_order.trans_id %}
                        {% if customer_info.payment_method == 1 and not transaction.delivery_date %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_delivery_date_set' transaction.pk %}">Click here to update</a>
                        {% elif customer_info.payment_method == 1 and transaction.delivery_date %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_delivery_date_set' transaction.pk %}">{{ transaction.delivery_date}}</a>
                        {% elif customer_info.payment_method == 2 and transaction.paid %}
                        {% if transaction.delivery_date %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_delivery_date_set' transaction.pk %}">{{ transaction.delivery_date }}</a>
                        {% else %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_delivery_date_set' transaction.pk %}">Click here to update</a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                      </td>
                      <td id="delivered_date{{transaction.id}}" {% if delivered_date %}class="table primary"
                        {% endif %}>
                        {% if transaction.paid and transaction.delivery_date %}
                        <a href="javascript:void(null);" class="action"
                          data-id="{% url 'admin_delivered_date_set' transaction.id %}">
                          {% if transaction.delivered_date %}
                          {{ transaction.delivered_date }}
                          {% else %}
                          Click here to update
                          {% endif %}
                        </a>
                        {% endif %}
                      </td>
                      <th class="text-center">{% if transaction.delivered_date %}<i class="fas fa-check"></i>{% endif %}
                      </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static '/assets/dataTables/js/jquery.dataTables.min.js' %}"></script>
<link href="{% static '/assets/dataTables/css/dataTables.material.min.css' %}" rel="stylesheet">
<link href="{% static '/assets/dataTables/css/material.min.css' %}" rel="stylesheet">
<script>
  $(document).ready(function () {
    $('#transaction-table').DataTable({
      "search": {
        "search": '{{search}}'
      },
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false,
      }],
      language: {
        searchPlaceholder: "Search",
        search: "",
      }
    });
  });
</script>
<script>
  $(".action").each(function () {
    $(this).modalForm({ formURL: $(this).data('id') });
  });
</script>
{% endblock content %}