{% extends "base.html" %}
{% block content %}
<div class="container mt-4 animated slideInLeft" id="product_detail_base">
    <div class="row border shadow-sm">
        <div class="col-md-12 col-lg-6 col-sm-12 col-12 m-0 p-0 justify-content-center">
            <div class="square m-0" id="pic" style="background-image: url('{{ data.product_image }}');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;">
            </div>
            <div class="row d-flex justify-content-center">
                    {% if data.product_image %}
                    <button class="img btn btn-outline-light m-0 p-0" data-id="{{ data.product_image }}"><img src="{{ data.product_image }}" style="width: 50px;"></button>
                    {% endif %}
                    {% if data.product_image1 %}
                    <button class="img btn btn-outline-light m-0 p-0" data-id="{{ data.product_image1 }}"><img src="{{ data.product_image1 }}" style="width: 50px;"></button>
                    {% endif %}
                    {% if data.product_image2 %}
                    <button class="img btn btn-outline-light m-0 p-0" data-id="{{ data.product_image2 }}"><img src="{{ data.product_image2 }}" style="width: 50px;"></button>
                    {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6  col-12">
            <div class="container p-0">
                <div class="card-body">
                    <h3 class="card-title text-dark">{{ data.product_name }}</h3>
                    <hr>
                    <a href="{% url 'category' data.category %}">
                        <h5>
                            <p class="card-text text-muted">
                                {{ data.category }}
                            </p>
                        </h5>
                    </a>
                    <a href="">
                        <p class="card-text text-muted">
                            {{ data.price }}
                        </p>
                    </a>
                    <hr>
                    <p class="card-text">
                        {{ data.description|linebreaks }}
                    </p>
                    {% if data.available %}
                    <div class="form-inline">
                        <select class="quantity custom-select form-control">
                            {% for i in ""|rjust:data.stock|slice:"10" %}
                            <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                            {% endfor %}
                        </select>
                        <button class="add_cart btn btn-outline-primary py-2">Add to Cart</button>
                    </div>
                    {% else %}
                            <button class="btn btn-outline-primary py-2" disabled>Out of stock</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if data.available %}
<script>
    $('.add_cart').click(function() {
        $.ajax({
            url: "{% url 'create_order' %}",
            method: 'post',
            data: {
                product: "{{ data.id }}",
                quantity: $('.quantity').val(),
                image: "{{ data.product_image }}",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function(data) {
                if (data['success'] == true) {
                    $('#alert_message').remove();
                    var alert_mes = "";
                    alert_mes += '<div id="alert_message" class="row alert alert-success animated fadeIn" role="alert">';
                    alert_mes += '<strong>' + data['message'] + '<a class="text-primary" href="{% url 'cart_base' %}">&nbsp; Click here to check the cart.</a></strong></div>';
                    $('#product_detail_base').prepend(alert_mes);
                }
            }
        });
    });
{% endif %}
</script>
<script>
    $('.img').click(function(){
        $('#pic').css({"backgroundImage": "url("+ $(this).data('id') +")"}).removeClass('animated fadeIn');
        setTimeout(function(){
            $('#pic').addClass('animated fadeIn')
        },100)
    })
</script>
{% endblock content %}