{% load widget_tweaks %} {% load crispy_forms_tags %}
<style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
<div class="modal-header">
    <h5 class="modal-title">Order Now</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="content-section">
        <fieldset class="form-group">
            {{ form|crispy }}
            <div  style="text-align: justify;">
                <input id="cb" type="checkbox" class="mr-2"><span>I have read and agree to the Terms and Conditions and other important reminders and information posted by the company. I hereby confirm that Power Sash Enterprises reserves the right to refuse or cancel my order
                for any reason relating to my purchase in their sole discretion.</span>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button class="submit btn btn-outline-primary" type="submit" disabled>Order Now</button>
        </div>
    </div>
</div>
<script>
    $('#cb').click(function(){
            if ($('#cb').is(":checked")){
                $('.submit').removeAttr('disabled').removeClass('btn-outline-primary').addClass('btn-primary');
            }
            else{
                $('.submit').attr('disabled', true).addClass('btn-outline-primary').removeClass('btn-primary');
            }
        });
    function render_alert(trans_id){
        $('html, body').animate({
        scrollTop: $("#bar").offset().top
        }, 250);
        $('.alert').remove(); 
        var t = document.querySelector('#alert_template');
            t.content.querySelector('#added').textContent = "We have received your order. Keep in touch for validation. Please save your transaction id: " + trans_id + ".";
        var clone = document.importNode(t.content, true);
        clone.querySelector('.alert').classList.add('alert-success');
        clone.querySelector('.alert').classList.add('p-2');
        clone.querySelector('.alert').classList.remove('mx-2');
        document.querySelector('.cart_cont').prepend(clone);
    }
    
    $('.submit').click(function() {
        const cart = window.localStorage.getItem('cart');
        $.ajax({
            url: "/new_api/api_customer_info/",
            method: 'POST',
            dataType: "json",
            data: {
                address: $('#id_address').val(),
                first_name: $('#id_first_name').val(),
                payment_method: $('#id_payment_method').val(),
                email: $('#id_email').val(),
                last_name: $('#id_last_name').val(),
                middle_initial: $('#id_middle_initial').val(),
                contact_number: $('#id_contact_number').val(),
                cart: cart,
            },
            success: function(data){
                var trans = JSON.parse(window.localStorage.getItem('transactions'));
                const cart = [];
                window.localStorage.setItem('cart', JSON.stringify(cart));
                if (trans&&data.payment_method==2){
                    trans.push(data.trans_id);
                    window.localStorage.setItem('transactions', JSON.stringify(trans));
                    $('.modal-body').empty().load("{% url 'payment_process' %}?trans_id=" + data.trans_id);
                }
                else if (trans&&data.payment_method==1){
                    $('.cart_cont').empty();
                    trans.push(data.trans_id);
                    window.localStorage.setItem('transactions', JSON.stringify(trans));
                    $("#modal").modal('hide');
                    render_alert(data.trans_id);
                    var t = document.querySelector('#empty_cart_template');
                    var clone = document.importNode(t.content, true);
                    document.querySelector('.cart_cont').appendChild(clone);
                }

            }
        })
    })
</script>