{% load widget_tweaks %} {% load crispy_forms_tags %}
<style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
<div class="modal-header">
    <h5 class="modal-title">Order Now</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="content-section">
        <fieldset class="form-group">
            {{ form|crispy }}
            <div  style="text-align: justify;">
                <input id="cb" type="checkbox" class="mr-2"><span>I have read and agree to the Terms and Conditions and other important reminders and information posted by the company. I hereby confirm that Power Sash Enterprises reserves the right to refuse or cancel my order
                for any reason relating to my purchase in their sole discretion.</span>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button class="submit btn btn-outline-primary" type="submit" disabled>Order Now</button>
        </div>
    </div>
</div>
<script>
    $('#cb').click(function(){
            if ($('#cb').is(":checked")){
                $('.submit').removeAttr('disabled').removeClass('btn-outline-primary').addClass('btn-primary');
            }
            else{
                $('.submit').attr('disabled', true).addClass('btn-outline-primary').removeClass('btn-primary');
            }
        });
    $('.submit').click(function() {
        const cart = window.localStorage.getItem('cart');
        $.ajax({
            url: "/new_api/api_customer_info/",
            method: 'POST',
            dataType: "json",
            data: {
                address: $('#id_address').val(),
                first_name: $('#id_first_name').val(),
                payment_method: $('#id_payment_method').val(),
                email: $('#id_email').val(),
                last_name: $('#id_last_name').val(),
                middle_initial: $('#id_middle_initial').val(),
                contact_number: $('#id_contact_number').val(),
                cart: cart,
            },
            success: function(data){
                var trans = JSON.parse(window.localStorage.getItem('transactions'));
                trans.push(data.trans_id);
                console.log(data);
                window.localStorage.setItem('transactions', JSON.stringify(trans));
            }
        })
    })
</script>