{% extends "base_android.html" %}
{% load static %}
{% block content %}
{% include "templates.html" %}
<div class="container-fluid px-0 mx-0 page" id="xd1">
    <div class="cat_container row owl-carousel owl-theme w-100 px-0 mx-0">
    </div>
<div class="fixed-top test">
    <div class="row d-flex justify-content-end mx-0 mb-1 cscheme" style="background-color: #222222;">
        <button class="btn btn-outline-light my-2 ml-3 text-light animated flipInX" style="display:none" id="back">
            <i class="fa fa-caret-left my-1 mr-2"></i>Go Back
        </button>
        <div class="input-group my-2 col-5 animated flipInX" id="search_bar">
            <input type="text" class="form-control border text-light cscheme" style="background-color: #222222;" placeholder="Search" id="search_input">
            <div class="input-group-append">
                <button class="btn btn-outline-light" id="search_button" type="button" disabled><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="prod_filters my-0">

        <div class="row mx-0">
        <div class="col-4 p-0">
        <div id="accordion" role="tablist" class="mx-0">
            <div class="card border-0">
              <div class="card-header py-2" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="text-center">
                    <span class="text-dark h6">Show</span>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body py-2 px-2">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input shower" id="show_names">
                                    <label class="custom-control-label" for="show_names">Product name</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input shower" id="show_price">
                                    <label class="custom-control-label" for="show_price">Product price</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 p-0">
          <div id="accordion" role="tablist" class="mx-0">
            <div class="card border-0">
              <div class="card-header py-2" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="text-center">
                    <span class="text-dark h6">Sort</span>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-2 px-2">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input sort" id="views_desc" data-id="-views">
                                    <label class="custom-control-label" for="views_desc">Popular</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input sort" id="price_asc" data-id="price">
                                    <label class="custom-control-label" for="price_asc">Price low to high</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input sort" id="price_desc" data-id="-price">
                                    <label class="custom-control-label" for="price_desc">Price high to low</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 p-0">
            <div id="accordion" role="tablist" class="mx-0">
              <div class="card border-0">
                <div class="card-header py-2" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <div class="text-center">
                      <span class="text-dark h6">Category</span>
                      </div>
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body py-2 px-2">
                      <div class="container-fluid p-0">
                          <div class="row" id="catlist">
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
          
    </div>
</div>
    
    <div class="prod_container row mx-2 my-2">
    </div>

</div>



    <script>
    $(document).ready(function (){
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('action');
        const pid =  urlParams.get('id');
        const cart = [];
        const transid_single = "";
        const trans_id = "";
        const last = {
            "fnc":"landing",
            "srch": "",
            "ctg": "",
            "page": 1,
            "spage": 1,
            "cpage": 1,
            "sale": "False"
        }
        const settings = {
            show_pn: true,
            show_pp: false,
            ordering: "-views",
            };
        if(!window.localStorage.getItem('settings')){
        window.localStorage.setItem('settings', JSON.stringify(settings));
        }
        if(!window.localStorage.getItem('last')){
        window.localStorage.setItem('last', JSON.stringify(last));
        }
        if (myParam=="load_product"){
            render_product_detail(pid);
        }
        if(!window.localStorage.getItem('cart')){
        window.localStorage.setItem('cart', JSON.stringify(cart));
        }
        if(!window.localStorage.getItem('transactions')){
        window.localStorage.setItem('transactions', JSON.stringify(trans_id));
        }
        load_landing();
        load_categories();
    });
    function update_cart(){
        const count = JSON.parse(window.localStorage.getItem('cart')).length;
        $('#cart_count').html('(' + count + ')');
    }

    function load_category(category){
        if (category == undefined){
            $('.cat_container').show();
        }
        else{
        for (var i=0; i<cat_length; i++){
                    $('.cat_container').show()
                    if (category[i].image){
                    var t = document.querySelector('#cat_template');
                    t.content.querySelector('.cat_card').id = category[i].category_name;
                    t.content.querySelector('#pic').style = "background-image: url('" + category[i].image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
                    t.content.querySelector('#cat_text').textContent = category[i].category_name;
                    var clone = document.importNode(t.content, true);
                    document.querySelector('.cat_container').appendChild(clone);
                    }
                }
        }
        $('.cat_container').owlCarousel({
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            items: 4.75,
            loop: true,
            dots: false,
            
        });
    };

    function load_product(products){
        if (products == undefined){
            $('.prod_container').show();
        }
        else{
        $('.prod_container').show();
        for (var i=0; i<prod_length; i++){
            if (products[i].stock != 0){
                var t = document.querySelector('#prod_template');
                t.content.querySelector('.product_card').id = products[i].id;
                t.content.querySelector('#pic').style = "background-image: url('" + products[i].product_image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
                t.content.querySelector('#product_text').textContent = products[i].product_name;
                if (products[i].sale != 0){
                    t.content.querySelector('#product_price').innerHTML = `₱${(products[i].price*(100-products[i].sale)*0.01).toFixed(2)} ${products[i].sale}%<i class="fa fa-arrow-down"></i>`;
                }
                else{
                    t.content.querySelector('#product_price').textContent = '₱' + products[i].price;
                }
                var clone = document.importNode(t.content, true);
                if (products[i].sale !=0){
                    clone.getElementById('product_price').classList.add('text-danger');
                }
                document.querySelector('.prod_container').appendChild(clone);
                }
            else{
                var t = document.querySelector('#prod_template');
                t.content.querySelector('.product_card').id = products[i].id;
                t.content.querySelector('#pic').style = "background-image: url('" + products[i].product_image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
                t.content.querySelector('#product_text').textContent = products[i].product_name;
                t.content.querySelector('#product_price').textContent = 'OUT OF STOCK';
                var clone = document.importNode(t.content, true);
                const oos = clone.getElementById('product_price');
                const name = clone.getElementById('product_text');
                name.classList.add('text-danger');
                name.classList.remove('text-dark');
                oos.classList.add('text-danger');
                document.querySelector('.prod_container').appendChild(clone);
            }
            }
            $('.prod_container').hide();
            setTimeout(function(){
                $('.prod_container').show();
            }, 150);
        }
    }
    function load_remove_button(id){
        $('.remove_cart').remove();
        var t = document.querySelector('#remove_item_template');
        t.content.querySelector('.remove_cart').id = id;
        var clone = document.importNode(t.content, true);
        document.querySelector('#product_button').appendChild(clone);
    }

    function load_product_detail(product){
        $('.prod_filters').removeClass('animated flipInX').hide();
        var t = document.querySelector('#prod_detail_template');
        t.content.querySelector('#det_pic').style = "background-image: url('" + product.product_image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
        t.content.querySelector('#product_title').textContent = product.product_name;

        t.content.querySelector('#bt').setAttribute('data-id', product.product_image); 
        t.content.querySelector('#bt1').setAttribute('data-id', product.product_image1);
        t.content.querySelector('#bt2').setAttribute('data-id', product.product_image2);

        t.content.querySelector('#bt img').src = product.product_image; 
        t.content.querySelector('#bt1 img').src = product.product_image1;
        t.content.querySelector('#bt2 img').src = product.product_image2;

        t.content.querySelector('#product_cat').textContent = product.category;
        t.content.querySelector('.add_cart').id = product.id;
        if (product.sale !=0 ){
            t.content.querySelector('#product_price').innerHTML = `₱<s>${product.price}</s> <h6 class="text-danger">₱${(product.price*(100-product.sale)*0.01).toFixed(2)} ${product.sale}% <i class="fa fa-arrow-down"></i></h6>`;
        }
        else{
            t.content.querySelector('#product_price').textContent = "₱" + product.price;
        }
        t.content.querySelector('#product_desc').textContent = product.description;
        var clone = document.importNode(t.content, true);
        if (!product.product_image1) clone.querySelector('#bt1').remove();
        if (!product.product_image2) clone.querySelector('#bt2').remove();
        x=t.content.querySelector('.qt_option');
        clone.querySelector('.qt_option').remove();
        if (product.stock != 0){
            clone.querySelector('#prod_out').remove();
        }
        else{
            clone.querySelector('#product_button').remove();
        }

        for (var i=0; (product.stock>i)&&(i!=10); i++){
            x.textContent = i+1;
            x.value = i+1;
            var option_clone = x.cloneNode(true);
            clone.querySelector('.quantity').append(option_clone);
        }
        var cart=JSON.parse(window.localStorage.getItem('cart'));
        document.querySelector('.prod_container').appendChild(clone);
        for (var i=0; i<cart.length; i++){
            if (product.id == cart[i].id){
                load_remove_button(product.id);
            }
        }
    }
    function search(search_value, spage){
        const order = JSON.parse(window.localStorage.getItem('settings')).ordering;
        if (!spage){
            spage=1;
        }
        $.ajax({
            url: "/new_api/api_products/?search=" + search_value + '&ordering=' + order + '&page=' + spage,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.pg').remove();
                $('.pg_c').remove();
                var old = JSON.parse(window.localStorage.getItem('last'));
                old.spage = spage;
                old.srch = search_value;
                old.fnc = "search";
                window.localStorage.setItem('last', JSON.stringify(old));
                $('.prod_container').empty();
                $('#back').removeClass('animated flipInX').addClass('animated flipOutX');
                if (data.count > 0){
                prod_length = data.results.length;
                products = data.results;
                pager(data.previous,data.next, spage);
                if (search_value != ""){
                    $('.prod_container').append("<div class='container-fluid text-center mb-2'><h5 class='animated bounceIn'>Showing (" + data.count + ") results for '" + search_value + "'.</h5></div>");
                }
                load_product(products);
                }
                else if (data.count == 0){
                    $('.prod_container').append("<div class='container-fluid text-center'><h5 class='animated bounceIn'>No results!</h5></div>");
                }
                check_sort();
                check_show_names();
                check_show_price();
                }
                
            })
        }
    $('#search_input').keyup(function(){
    if ($('#search_input').val() == ""){
        $('#search_button').attr("disabled", true);
    }
    else{
        $('#search_button').attr("disabled", false);
    }
    });

    function filter_category(category, cpage, sale_list){
        const order = JSON.parse(window.localStorage.getItem('settings')).ordering;
        if (sale_list ==  null){
            sale_list = 0
        }

        $('.prod_container').empty();
        $.ajax({
            url: "/new_api/api_products/?category__category_name=" + category + '&page=' + cpage + '&ordering=' + order + '&sale_list=' + sale_list,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.pg').remove();
                $('.pg_c').remove();
                var old = JSON.parse(window.localStorage.getItem('last'));
                old.cpage = cpage;
                old.ctg = category;
                old.fnc = "category";
                window.localStorage.setItem('last', JSON.stringify(old));
                $('#back').removeClass('animated flipInX').addClass('animated flipOutX');
                if (data.count > 0){
                prod_length = data.results.length;
                products = data.results;
                $('.prod_container').append("<div class='container-fluid text-center mb-2'><h5 class='animated bounceIn'>" + category + "</h5></div>");
                load_product(products);
                check_show_names();
                
                check_show_price();
                pager(data.previous,data.next, cpage);
                $('.prod_filters').addClass('animated flipInX').show();
                }
                else if (data.count == 0){
                    $('.prod_container').append("<div class='container-fluid text-center'><h5 class='animated bounceIn'>We have no more items in " + category + "</h5></div>");
                }
                check_sort();
                }
            })
        }
        
    function load_landing() {
        render_products();
        render_category();
    }
    
    function load_categories(){
        const last = JSON.parse(window.localStorage.getItem('last'));
        $.ajax({
            url: "/new_api/api_list_categ",
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                const opt = document.createElement('select');
                opt.classList.add('custom-select','mx-3');
                const all = document.createElement('option');
                all.textContent = 'All';
                all.value = "";
                opt.append(all);
                for (let x in data.results){
                    const acateg = document.createElement('option');
                    acateg.textContent = data.results[x].category_name;
                    acateg.value = data.results[x].category_name;
                    opt.append(acateg);
                }
                opt.addEventListener('change', function(){
                    filter_category(this.value, 1, last.sale);
                });
                const catlist= document.getElementById('catlist');
                catlist.append(opt);
            }
    });
    }

    function render_products(page) {
        const order = JSON.parse(window.localStorage.getItem('settings')).ordering;
        if (!page){
            page=1;
        }
        $.ajax({
            url: "/new_api/api_products/?ordering=" + order  + '&page=' + page,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.pg_c').remove();
                var old = JSON.parse(window.localStorage.getItem('last'));
                old.fnc = "landing";
                old.page = page;
                window.localStorage.setItem('last', JSON.stringify(old));
                $('#back').removeClass('animated flipInX').addClass('animated flipOutX').attr("disabled", true);
                $('.prod_container').empty();
                prod_length = data.results.length;
                products = data.results;
                load_product(products);
                check_show_names();
                check_sort();
                check_show_price();
                $('.prod_filters').addClass('animated flipInX').show();
                pager(data.previous,data.next, page);
            }
        });
    }

    function pager(prev,next,current){
        var t = document.querySelector('#pager_template');
        t.content.querySelector('#next').setAttribute('data-id', next);
        if (prev){
            t.content.querySelector('#prev').setAttribute('data-id', parseInt(current)-1);
            t.content.querySelector('#prev').disabled = false;
        }
        else{
            t.content.querySelector('#prev').disabled = true;
        }
        if (next){
            t.content.querySelector('#next').setAttribute('data-id', parseInt(current)+1);
            t.content.querySelector('#next').disabled = false;
        }
        else{
            t.content.querySelector('#next').disabled = true;
        }
        var clone = document.importNode(t.content, true);
        if (!prev&&!next){
            clone.querySelector('#next').remove();
            clone.querySelector('#prev').remove();
        }
        document.querySelector('.page').appendChild(clone);
    }

    function render_category() {
        $.ajax({
            url: "/new_api/api_category/",
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.cat_container').empty();
                cat_length = data.results.length;
                category = data.results;
                load_category(category);
            }
        });
    }

    function render_alert(product, quantity, status){
        $('html, body').animate({
        scrollTop: $("#pic").offset().top
        }, 250);
        $('.alert').remove(); 
        var t = document.querySelector('#alert_template');
        if (status == 'alert-success'){
            t.content.querySelector('#added').textContent = product + ' (' + quantity +') is succesfully added to your cart.'
        }
        else{
            t.content.querySelector('#added').textContent = product + ' is succesfully removed from your cart.'
        }
        var clone = document.importNode(t.content, true);
        clone.querySelector('.alert').classList.add(status);
        document.querySelector('.prod_container').prepend(clone);
    }

    function render_product_detail(id) {
        $.ajax({
            url: "/new_api/api_products/" + id,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.prod_container').empty();
                $('.pg_c').remove();
                $('#back').show().removeClass('animated flipOutX').addClass('animated flipInX').attr("disabled", false);
                load_product_detail(data);
            }
        });
    }

    $('#search_button').click(function(){
        var input = $('#search_input').val();
        search(input);
        }
    );
    $('#search_input').keypress(function(e){
        var input = $('#search_input').val();
        if (e.which == 13 ){
            search(input);
        }
    });
    //Click back button
    $('#back').click(function(){
        $('#search_input').val('');
        render_products();
    });
    //Click product card
    $(document).on('click', '.product_card', function() {
        prod_id = $(this).attr('id');
        render_product_detail(prod_id);
    });
    //Click category card
    $(document).on('click', '.cat_card', function() {
        id = $(this).attr('id');
        const last = JSON.parse(window.localStorage.getItem('last'));
        filter_category(id, last.cpage, last.sale);
    });
    //Change images of product detail
    $(document).on('click','.img_bt', function(){
        $('#det_pic').css({"backgroundImage": "url("+ $(this).data('id') +")"});
      })
    //add to cart --> store in localStorage
    $(document).on('click', '.add_cart', function(){
        var qty = $('.quantity').val();
        var prd_id = $('.add_cart').attr('id');
        var cart = [];
        const product = {
            id: prd_id,
            quantity: qty,
            };
        cart.push(product);

        var cart_old=JSON.parse(window.localStorage.getItem('cart'));
        for(var i=0; cart_old.length>i; i++){
            if (cart_old[i].id == product.id){
                cart_old.splice(i,1);
            }
        }
        cart_old.push(product);
        window.localStorage.setItem('cart', JSON.stringify(cart_old));
        render_alert($('#product_title').html(), qty,'alert-success');
        update_cart();
        load_remove_button(prd_id);

    });
    $(document).on('click', '.remove_cart', function(){
        var prd_id = $('.remove_cart').attr('id');
        var cart=JSON.parse(window.localStorage.getItem('cart'));
        for (var i=0; i<cart.length; i++){
            if (cart[i].id == prd_id){
                cart.splice(i,1);
                window.localStorage.setItem('cart', JSON.stringify(cart));
                $('.remove_cart').remove();
                $('html, body').animate({
                scrollTop: $("#pic").offset().top
                }, 250);
                render_alert($('#product_title').html(), 0, 'alert-danger')
                update_cart();
            }
        }
    });
    function check_show_names(){    
        const show=JSON.parse(window.localStorage.getItem('settings')).show_pn;
        if (show == true){
            $('.prod_name').addClass('animated bounceIn').show();
            $('#show_names').prop("checked", show);
            }
        else if (show == false){
            $('.prod_name').removeClass('animated bounceIn').hide();
            $('#show_names').prop("checked", show);
        }
    }
    function check_show_price(){    
        const show=JSON.parse(window.localStorage.getItem('settings')).show_pp;
        if (show == true){
            $('.prod_price').addClass('animated bounceIn').show();
            $('#show_price').prop("checked", show);
            }
        else if (show == false){
            $('.prod_price').removeClass('animated bounceIn').hide();
            $('#show_price').prop("checked", show);
        }
    }

    function check_sort(){
        $('.sort').prop("checked", false);
        const sort=JSON.parse(window.localStorage.getItem('settings')).ordering;
        const sort_checkbox = $('.sort')
        for (var i=0; sort_checkbox.length>i; i++){
            if (sort_checkbox[i].getAttribute('data-id')==sort){
                sort_checkbox[i].checked=true;
            }
        }
    }

    $(document).on('change', '.shower' ,function(){
        const shown = $('#show_names').prop("checked");
        const showp = $('#show_price').prop("checked");
        var settings=JSON.parse(window.localStorage.getItem('settings'));
        settings.show_pn = shown;
        settings.show_pp = showp;
        window.localStorage.setItem('settings', JSON.stringify(settings));
        check_show_names(); 
        check_show_price();
        check_sort();
    });

    $(document).on('change', '.sort' ,function(){
        $('.sort').not(this).prop("checked", false);
        const sort = $(this).attr('data-id');
        var settings=JSON.parse(window.localStorage.getItem('settings'));
        settings.ordering = sort;
        window.localStorage.setItem('settings', JSON.stringify(settings));
        const last = JSON.parse(window.localStorage.getItem('last'));
        const fnc = last.fnc;
        if (fnc == "landing"){
            render_products(last.page);
        }
        else if (fnc == "search"){
            search(last.srch, last.spage);
        }
        else if (fnc == "category"){
            filter_category(last.ctg, last.cpage, last.sale);
        }
    });
    
    $(document).on('click', '.pg' ,function(){
        const last = JSON.parse(window.localStorage.getItem('last'));
        page = $(this).attr('data-id');
        if (last.fnc == "landing"){
            render_products(page);
        }
        else if (last.fnc == "search"){
            search(last.srch, page);
        }
        else if (last.fnc == "category"){
            filter_category(last.ctg, page, last.sale);
        }
    });
    $(document).on('click', '#saler' ,function(){
        let last = JSON.parse(window.localStorage.getItem('last'));
        last.sale = 'True';
        window.localStorage.setItem('last', JSON.stringify(last));
        filter_category('', 1, last.sale);
    });
    var lastScrollTop = 0;
    $(window).scroll(function(event){
    var st = $(this).scrollTop();
    if (st > lastScrollTop){
        $('.test').addClass('d-none');
    } else {
        $('.test').removeClass('d-none');
    }
    lastScrollTop = st;
    });
    </script>
    
{% endblock content %}