{% extends "base_android.html" %}
{% load static %}
{% block content %}
{% include "templates.html" %}
<div class="container-fluid px-0 mx-0">
    <div class="cat_container row owl-carousel owl-theme w-100 px-0 mx-0">
    </div>
    <div class="row d-flex justify-content-end mx-0 mb-4" style="background-color: #222222;">
        <button class="btn btn-outline-light my-2 ml-3 text-light animated bounceInLeft" style="display:none" id="back">
            <i class="fa fa-caret-left my-1 mr-2"></i>Go Back
        </button>
        <div class="input-group my-2 col-5 animated bounceInRight" id="search_bar">
            <input type="text" class="form-control border text-light" style="background-color: #222222;" placeholder="Search" id="search_input">
            <div class="input-group-append">
                <button class="btn btn-outline-light" id="search_button" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="prod_container row mx-2">
    </div>
</div>


    <script>

    $(document).ready(load_landing());
    function load_category(category){
        if (category == undefined){
            $('.cat_container').show();
        }
        else{
        for (var i=0; i<cat_length; i++){
                    $('.cat_container').show()
                    if (category[i].image){
                    var t = document.querySelector('#cat_template');
                    t.content.querySelector('.cat_card').id = category[i].category_name;
                    t.content.querySelector('#pic').style = "background-image: url('" + category[i].image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
                    t.content.querySelector('#cat_text').textContent = category[i].category_name;
                    var clone = document.importNode(t.content, true);
                    document.querySelector('.cat_container').appendChild(clone);
                    }
                }
        }
        $('.cat_container').owlCarousel({
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            items: 3,
            loop: true,
            dots: false,
        });
    };

    function load_product(products){
        if (products == undefined){
            $('.prod_container').show();
        }
        else{
        for (var i=0; i<prod_length; i++){
                $('.prod_container').show();
                var t = document.querySelector('#prod_template');
                t.content.querySelector('.product_card').id = products[i].id;
                t.content.querySelector('#pic').style = "background-image: url('" + products[i].product_image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
                t.content.querySelector('#product_text').textContent = products[i].product_name;
                var clone = document.importNode(t.content, true);
                document.querySelector('.prod_container').appendChild(clone);
            }
        }
    }
    function load_product_detail(product){
        var t = document.querySelector('#prod_detail_template');
        t.content.querySelector('#pic').style = "background-image: url('" + product.product_image + "');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;";
        t.content.querySelector('#product_title').textContent = product.product_name;
        t.content.querySelector('#product_cat').textContent = product.category;
        t.content.querySelector('#product_price').textContent = product.price;
        t.content.querySelector('#product_desc').textContent = product.description;
        var clone = document.importNode(t.content, true);
        if (product.stock != 0){
            clone.querySelector('#prod_out').remove();
        }
        else{
            clone.querySelector('#product_button').remove();
        }
        document.querySelector('.prod_container').appendChild(clone);
    }
    function search(search_value){
        $('.prod_container').empty();
        $.ajax({
            url: "/new_api/api_products/?search=" + search_value,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                if (data.count > 0){
                prod_length = data.results.length;
                products = data.results;
                $('.prod_container').append("<div class='container-fluid text-center mb-2'><h5 class='animated bounceIn'>Showing (" + data.count + ") results for '" + search_value + "'.</h5></div>");
                load_product(products);
                }
                else if (data.count == 0){
                    $('.prod_container').append("<div class='container-fluid text-center'><h5 class='animated bounceIn'>No results!</h5></div>");
                }
                }
            })
        }

    function filter_category(category){
        $('.prod_container').empty();
        $.ajax({
            url: "/new_api/api_products/?category__category_name=" + category,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                if (data.count > 0){
                prod_length = data.results.length;
                products = data.results;
                $('.prod_container').append("<div class='container-fluid text-center mb-2'><h5 class='animated bounceIn'>" + category + "</h5></div>");
                load_product(products);
                }
                else if (data.count == 0){
                    $('.prod_container').append("<div class='container-fluid text-center'><h5 class='animated bounceIn'>We have no more items in " + category + "</h5></div>");
                }
                }
            })
        }
        
    function load_landing() {
        render_products();
        render_category();
    }

    function render_products() {
        $.ajax({
            url: "/new_api/api_products/",
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.prod_container').empty();
                prod_length = data.results.length;
                products = data.results;
                load_product(products);
            }
        });
    }

    function render_category() {
        $.ajax({
            url: "/new_api/api_category/",
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.cat_container').empty();
                cat_length = data.results.length;
                category = data.results;
                load_category(category);
            }
        });
    }

    function render_product_detail(id) {
        $.ajax({
            url: "/new_api/api_products/" + id,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('.prod_container').empty();
                load_product_detail(data);
            }
        });
    }

    $('#search_button').click(function(){
        var input = $('#search_input').val();
        search(input);
        }
    );
    $('#search_input').keypress(function(e){
        var input = $('#search_input').val();
        if (e.which == 13 ){
            search(input);
        }
    });
    //Click back button
    $('#back').click(function(){
        $(this).removeClass('animated bounceInLeft').addClass('animated bounceOutLeft').attr("disabled", true);
        render_products();
    });
    //Click product card
    $(document).on('click', '.product_card', function() {
        $('#back').show().removeClass('animated bounceOutLeft').addClass('animated bounceInLeft').attr("disabled", false);
        prod_id = $(this).attr('id');
        render_product_detail(prod_id);
    });
    //Click category card
    $(document).on('click', '.cat_card', function() {
        id = $(this).attr('id');
        filter_category(id);
    });
    </script>
{% endblock content %}