{% extends "base_android.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
        
</div>
<script>
    $('#back').click(function(){
        $(this).removeClass('animated bounceInRight').addClass('animated bounceOutRight');
        $('#product_detail_base').removeClass('animated slideInLeft').addClass('animated bounceOutLeft');
    });
    $('.img').click(function(){
        $('#pic').css({"backgroundImage": "url("+ $(this).data('id') +")"});
    });
</script>
{% endblock content %}