<!--Product Template-->
<template id="prod_template">
    <div class="product_card col-3 p-0 m-0 animated flipInX faster">
        <div class="card border-0 p-0 m-0">
            <div class="card-body bg-white m-0 p-0" data-placement="left" data-toggle="tooltip" title="">
                    <div class="square" id="pic">
                    </div>
                    <h6 id="product_text" class="card-title prod_name text-truncate text-dark mt-2 mb-0"></h6>
                    <span id="product_price" class="card-title prod_price text-truncate text-center text-dark mt-0"></span>
            </div>
        </div>
    </div>
</template>
<template id="pager_template">
    <div class="row d-flex justify-content-center my-4 pg_c mx-0">
        <div class="btn-group d-flex col-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark pg" id="prev">Prev</button>
            <button type="button" class="btn btn-outline-dark pg" id="next">Next</button>
        </div>
    </div>
</template>

<!--Category Template-->
<template id="cat_template">
    <div class="cat_card p-0">
        <div class="card border-0 p-0 m-0">
            <div class="card-body pb-1 p-0 cscheme" style="background-color: #222222;">
                    <div class="square" id="pic">
                    </div>
                    <h6 id="cat_text" class="card-title text-truncate text-light text-center mt-2 my-2"></h6>
            </div>
        </div>
    </div>
</template>
<!--Product Detail Template-->
<template id="prod_detail_template">
    <div class="container-fluid mb-4 mx-2 animated slideInLeft" id="product_detail_base">
        <div class="row border shadow-sm">
            <div class="col-md-12 col-lg-6 col-sm-12 col-12 m-0 p-0 justify-content-center">
                <div class="square m-0" id="det_pic" style="background-image: url('{{ product_image }}');width: 100%;padding-bottom: 100%;background-size: cover;background-position: center;">
                </div>
                <div class="row d-flex justify-content-center">
                        <button id="bt" class="img_bt btn btn-outline-light m-0 p-0" data-id="{{ product_image }}"><img style="width: 50px;"></button>
                        <button id="bt1" class="img_bt btn btn-outline-light m-0 p-0" data-id="{{ product_image1 }}"><img style="width: 50px;"></button>
                        <button id="bt2" class="img_bt btn btn-outline-light m-0 p-0" data-id="{{ product_image2 }}"><img style="width: 50px;"></button>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6  col-12">
                <div class="container p-0">
                    <div class="card-body">
                        <h3 id="product_title" class="card-title text-dark"></h3>
                        <hr>
                            <h5>
                                <p id="product_cat" class="card-text text-muted">
                                </p>
                            </h5>
                            <p id="product_price" class="card-text text-muted">
                            </p>
                        <hr>
                        <span style="white-space: pre-wrap" id="product_desc" class="card-text">
                        </span style="white-space: pre-wrap">
                        <div id="product_button" class="form-inline col-12 mt-4 px-0">
                            <select class="quantity form-control col-2">
                                <option class="qt_option"></option>
                            </select>
                            <button class="add_cart btn btn-outline-dark py-2 px-0 col-4"><i class="fa fa-cart-plus mr-2"></i>Add to Cart</button>
                        </div>
                        <div class="col-12 px-0 mt-4">
                            <button id="prod_out" class="btn btn-dark py-2 mx-0" disabled>Out of stock</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!--Carousel Template-->
<template id="car_template">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="img1 carousel-item active">
                <img id="img1" class="d-block w-100">
            </div>
            <div class="img2 carousel-item">
                <img id="img2" class="d-block w-100">
            </div>
            <div class="img3 carousel-item">
                <img id="img3" class="d-block w-100">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</template>
<!--Logo Template-->
<template id="img_template">
    <img id="img_logo" class="img-fluid">
</template>
<!--Cart Template-->
<template id="cart_row_template">
        <tr class="text-dark prod_row text-primary">
            <td class="p-1 text-primary product" id="prod_name"></td>
            <td class="p-1 text-center" id="prod_quantity"></td>
            <td class="p-1" id="prod_price"></td>
            <td class="p-1" id="del_price"></td>
            <td class="p-1 tp" id="total_price"></td>
        </tr>
</template>
<!--Alert Template-->
<template id="alert_template">
    <div class="container-fluid mx-2 alert animated fadeInUp my-1" role="alert">
        <span id="added">
        </span>
    </div>
</template>
<!--GrandTotal Template-->
<template id="gt_template">
    <tr class="text-primary">
        <td colspan="4" class="text-right py-1 px-2">Grand Total</td>
        <td id="gt" colspan="1" class="gt p-1"></td>
    </tr>
</template>
<!--RemoveButton Template-->
<template id="remove_item_template">
    <button class="remove_cart btn btn-outline-danger py-2 px-0 ml-1 my-2 col-5">Remove from Cart</button>
</template>

<template id="empty_cart_template">
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron bg-white">
            <span class="display-4 text-dark">Hello, your cart is empty!</span>
            <hr class="mb-4">
            <span class="h6">
                Go back to shopping.
            </span>
          </div>
    </div>
</template>

<template id="trans_template">
    <div class="bg-light">
        <div id="accordion" role="tablist">
            <div class="card border-0">
              <div class="card-header border-0 p-2" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed h6 text-dark" data-toggle="collapse" href="#x" aria-expanded="false" aria-controls="x" id="ref">
                  </a>
                </h5>
              </div>
              <div id="x" class="collapse hed" role="tabpanel" aria-labelledby="headingTwo">
                    <table id="trans_table" class="table table-striped table-bordered">
                        <thead>
                            <th class="py-0 px-1">Products</th>
                            <th class="p-0 text-center">Qty</th>
                            <th class="p-0 text-center">Delivery</th>
                            <th class="p-0 text-center">Price</th>
                            <th class="p-0 text-center">T.Price</th>
                        </thead>
                        <tbody id="trans_products" class="table-body">
                            <tr class="text-dark prod_row text-primary" id="p_row">
                                <td id="p_name" class="p-1 text-primary"></td>
                                <td id="p_qty" class="p-1 text-center"></td>
                                <td id="p_del" class="p-1 text-center"></td>
                                <td id="p_price" class="p-1 text-center"></td>
                                <td id="p_tprice" class="p-1 text-center"></td>
                            </tr>
                        </tbody>
                        <thead>
                            <th class="py-0 px-1">Transaction ID</th>
                            <th class="p-0 text-center">PM</th>
                            <th class="p-0 text-center">Paid</th>
                            <th class="p-0 text-center">Status</th>
                            <th class="p-0 text-center">G.Total</th>
                        </thead>
                        <tbody id="trans_info" class="table-body">
                            <tr class="text-dark prod_row text-primary">
                                <td id="trans_id" class="p-1 text-primary"></td>
                                <td id="pm" class="p-1 text-center"></td>
                                <td class="p-1 text-center"><i id="paid" class="fa fa-check"></i></td>
                                <td id="status" class="p-1 text-center"></td>
                                <td id="gtotal" class="p-1"></td>
                            </tr>
                        </tbody>
                    </table>
              </div>
            </div>
          </div>
    </div>
</template>

<template id="empty_trans_template">
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron bg-white">
            <span class="display-4 text-dark">Hello, you have 0 transactions!</span>
            <hr class="mb-4">
            <span class="h6">
                Go back to shopping.
            </span>
          </div>
    </div>
</template>